@{
    ViewBag.Title = "Index";
}
<link href="@Url.RouteUrl(new { controller = "CMS", action = "GetTheme" })" rel="stylesheet" type="text/css" />
<div id="intro">
    <h2>
        Index</h2>
    <div class="dynamic">
        Testing CMS Css from database.
    </div>
</div>
